{% extends 'base.html.twig' %}

{% block title %}Ligne3{% endblock %}

{% block body %}
    <h1>Ligne3</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ligne3.id }}</td>
            </tr>
            <tr>
                <th>Trajet</th>
                <td>{{ ligne3.Trajet }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ ligne3.Tarif }}</td>
            </tr>
            <tr>
                <th>Disposition</th>
                <td>{{ ligne3.Disposition ? ligne3.Disposition|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ligne3_index') }}">back to list</a>

    <a href="{{ path('app_ligne3_edit', {'id': ligne3.id}) }}">edit</a>

    {{ include('ligne3/_delete_form.html.twig') }}
{% endblock %}
